.wrapper-catalog {
  padding: 0 10px;
}

.container-busca {
  display: flex;
  height: 90px;
  background-color: #ededed;
  border-radius: 10px;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
}

.search-box {
  background: #fff;
  border-radius: 6px 0px 0px 6px;
}

.search-box input {
  border-radius: 6px 0px 0px 6px;
}

.search-box input::placeholder {
  color: #a7a7a7;
}

.search-btn {
  background: #00285f;
  border-radius: 0px 6px 6px 0px;
  color: #fff;
}

@media (min-width: 576px) {
  .container-busca {
    height: 125px;
  }

  .search-box {
    width: 320px;
  }

  .search-btn {
    width: 175px;
  }
}

@media (min-width: 576px) {
  .search-box {
    width: 516px;
  }
}

@media (min-width: 992px) {
  .search-box {
    width: 590px;
  }
}

@media (min-width: 1200px) {
  .wrapper-catalog {
    padding: 0 150px;
  }
}
