.wrapper-home {
  align-items: center;
}

.home-card {
  background-color: rgba(0, 40, 95, 1);
  margin: 20px 10px;
  border-radius: 10px;
  padding: 60px 30px 50px 30px;
  box-shadow: 2px 2px 8px grey;
}

.image-container {
  margin-bottom: 35px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 0;
}

.image-container img {
  width: 100%;
}

.home-content {
  text-align: center;
  align-items: center;
  padding: 0;
}

.home-content h1 {
  color: #fff;
  font-size: 18px;
  margin-bottom: 15px;
}

.home-content p {
  font-size: 12px;
  color: #fff;
}

.btn-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 10px;
  margin: 0 10px 120px 10px;
  align-items: center;
  background-color: #EDEDED;
}

.btn-container button {
  border: unset;
  background-color: #00285F;
  margin-bottom: 10px;
  width: 176px;
  height: 40px;
  padding: 0;
}

.btn-container button h6 {
  color: #fff;
  font-size: 14px;
}

.btn-container p {
  color: #585858;
  margin-bottom: 0;
  font-size: 18px;
}

@media (min-width: 576px) {
  .home-card {
    padding: 20px 30px 20px 30px;
  }

  .image-container img {
    width: 70%;
  }

  .image-container {
    margin-bottom: 0px;
  }

  .home-content h1 {
    font-size: 36px;
  }

  .home-content p {
    font-size: 20px;
  }

  .btn-container {
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }

  .btn-container button {
    margin-right: 15px;
  }

  .btn-container p {
    margin-bottom: 8px;
  }
}

@media (min-width: 768px) {
  .home-content p {
    width: 500px;
    margin: 0 91px;
  }

  .home-content h1 {
    margin-bottom: 0;
  }

  .home-card {
    padding-bottom: 76px;
  }

  .btn-container {
    justify-content: flex-start;
  }
}

@media (min-width: 992px) {
  .home-card {
    padding: 90px 250px 125px 250px;
  }

  .image-container img {
    width: 100%;
  }

  .home-content p {
    width: 420px;
    margin-left: 0;
    padding-left: 45px;
    font-size: 18px;
  }

  .btn-container {
    height: 125px;
  }

  .btn-container button {
    height: 40px;
    width: 175px;
  }

  .btn-container button h6 {
    font-size: 14px;
  }

  .btn-container p {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    flex-direction: row-reverse;
    margin: 30px 150px;
    padding: 85px;
  }

  .home-content {
    text-align: left;
  }
}
